<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="ztapps">
        <link rel="shortcut icon" href="favicon.ico">
        <title>Sperobox - Ready to make a change ?</title>
        
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
        
        <!-- CSS Files -->
        <link href="{{ MEDIA_URL }}landing/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="{{ MEDIA_URL }}landing/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}landing/css/magnific-popup.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}landing/css/style.css" rel="stylesheet">

        <link href="{{ MEDIA_URL }}django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />


    </head>
    
    <body>

        <header id="home">
            <div id="carousel-main" class="carousel slide">
                
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    
                    <div class="item active">
                        
                        <img src="{{ MEDIA_URL }}landing/img/bg-1.jpg" class="bg" alt="">
                        
                        <div class="container" style="padding:60px 0;">
                            
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left">
                                <div class="iphone-5-container device-container">
                                    <!--<img src="img/container-screens/iphone-5-screen.jpg" alt=""> -->
                                </div>
                            </div>
                            
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right">
                                <div class="row text-center">
                                    <div class="col-lg-12">
                                        
                                        <h1 class="title">SPEROBOX</h1>
                                        <h2>Want to make a difference ? </h2><h2>Report urgent problems around you that need to be addressed.</h2>
                                        <p>With Sperobox you can contribute to improve the quality of life around you.</p>
                                        
                                        <div class="row text-center">
                                            <div class="col-lg-12">
                                                 <a href="/hope/login" class="btn btn-1">
                                                    <i class="icon-arrow-right"></i>
                                                    Register or login with Facebook
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>                    
                </div>
            </div>
        </header>
        
        <section id="features">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12" style="margin-bottom:30px;">
                        <h3 style="margin-top:0;color:gray;">FEATURES</h3>
                        <h2>How can you make a difference ?</h2>
                    </div>
                    
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 f-item">
                        <i class="icon-thumbs-down"></i>
                        <h3>Say it affects you</h3>
                        <p>You can say reports created by others affect you and you'll automatically be able to get notifications about them, check their current state and know updates about them. The more affected people one report has, the more it gets noticed by entities.</p>
                    </div>
                    
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 f-item">
                        <i class="icon-camera"></i>
                        <h3>Contribute</h3>
                        <p>Do you feel affected by something that's wrong around you? Probably others feel it too. Contribute to fix them by reporting those problems and engaging people to say it affects them too. </p>
                    </div>
                    
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 f-item">
                        <i class="icon-star"></i>
                        <h3>PRO</h3>
                        <p>For entities responsible for the management of occurrences our users are reporting, contact us to acquire the PRO account and get live analytics, monthly reports, and decision support systems to help you solve problems. </p>
                    </div>

                </div>
            </div>
        </section>
        
        <section id="screenshots">
            <div class="container">
                <div class="popup-gallery-screens row">
                    
                    <div class="col-lg-12" style="margin-bottom:30px;">
                        <h3 style="margin-top:0;color:#1C7E3B;">Sperobox Pro Products</h3>
                        <h2>Check Out what's best for you, available soon for</h2>
                    </div>
                    
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <h3> buildings management </h3>
                    </div>

                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <h3> roads management </h3>
                    </div>
                    
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <h3> municipality management </h3>

                    </div>
                    
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <h3>  water supply networks management </h3>
                    </div>
                    
                </div>
            </div>
        </section>
        
        <section id="additional">
            <div style="width:96%;margin:0 auto;">
                <div class="row" style="padding-bottom:0;">
                    
                    <div class="col-lg-6 col-lg-push-1" style="position:relative;z-index:1;">
                        <h3>Available soon in the App Store</h3>
                        <h2>Report with Sperobox Mobile App</h2>
                       
                    </div>
                    
                    <div class="col-lg-6 col-lg-pull-1" style="position:relative;z-index:0;">
                        <img src="{{ MEDIA_URL }}landing/img/iphone_white_angle1.png" alt="">
                    </div>
                    
                </div>
            </div>
        </section>
        <!--
        <section id="contact">
            
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12" style="text-align:center;margin-bottom:30px;">
                        <h3 style="margin:0;">CONTACT US</h3>
                        <h2>Tell Us What Is On Your Mind</h2>
                    </div>
                    
                    <div class="col-lg-12" style="text-align:center;">
                        <a data-toggle="modal" href="#contactModal" class="btn btn-2" style="margin:0 auto;">CONTACT US</a>
                    </div>
                    
                </div>
            </div>
            
            <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title" style="color:#555">Contact Form</h3>
                        </div>
                        
                        <div class="modal-body">
                            
                            <form class="form-horizontal" role="form" name="contactForm" id='contact_form' method="post" action='email.php'>
                                <div class="form-group">
                                    <label for="name" class="control-label">Name*</label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="What is your name?">
                                    <div id='name_error' class='error'>Please enter your name.</div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label">Email*</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="What is your email address?">
                                    <div id='email_error' class='error'>Please enter your valid email address.</div>
                                </div>
                                <div class="form-group">
                                    <label for="subject" class="control-label">Subject*</label>
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Please enter the subject.">
                                    <div id='subject_error' class='error'>Please enter the subject.</div>
                                </div>
                                <div class="form-group">
                                    <label for="message" class="control-label">Message*</label>
                                    <textarea class="form-control" rows="5" id="message" name="message" placeholder="What do you want to tell us?"></textarea>
                                    <div id='message_error' class='error'>Please enter your message.</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6 text-center">
                                        <div id='mail_success' class='success'>Your message has been sent successfully.</div>
                                        <div id='mail_fail' class='error'>Sorry, error occured this time sending your message.</div>
                                        <span id='submit'>
                                            <input type="submit" class="btn btn-2" id="send_message" value="Send Message">
                                        </span>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </section>
        -->
        
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-push-6">
                    <!--    <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icon-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icon-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    -->
                    </div>
                    <div class="col-lg-6 col-lg-pull-6">
                        <h5>&copy; Copyright 2014 -
                            <a href="http://kreation.dec.uc.pt/sperobox.html">Kreation - INESC Coimbra</a>
                        </h5>
                    </div>
                </div>
            </div>
        </footer>
        
        <!-- Javascripts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="{{ MEDIA_URL }}landing/js/modernizr-2.js"></script>
        <script src="{{ MEDIA_URL }}landing/js/polyfills.js"></script>
        <script src="{{ MEDIA_URL }}landing/js/jquery.magnific-popup.min.js"></script>
        <script src="{{ MEDIA_URL }}landing/js/validation.js"></script>
        <script src="{{ MEDIA_URL }}landing/js/bootstrap.js"></script>
        <script src="{{ MEDIA_URL }}landing/js/main.js"></script>
        
    </body>

</html>