{% extends "layout.html" %}
{% block content %}

<h1>Active users</h1>
<ul>
	{% for user in users %}
	{% if user.is_active %}
	<li> {{user.username}} ({{user.email}}) | <form action="/api/deactivate_user/" method="POST">{% csrf_token %}<input type="hidden" name="user_id" value="{{user.id}}"><input type="submit" value="Deactivate"/></form>
	{% endif %}
	{% endfor %}
</ul>
<h1>Inactive users</h1>
<ul>
	{% for user in users %}
	{% if not user.is_active %}
	<li> {{user.username}} ({{user.email}}) | <form action="/api/activate_user/" method="POST">{% csrf_token %}<input type="hidden" name="user_id" value="{{user.id}}"><input type="submit" value="Activate"/></form>
	{% endif %}
	{% endfor %}
</ul>
{% endblock %}
