<script type="text/html" id="report-page-template">

<div id="report-page">
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid"> 
        
            <div class="span12" style="margin-left:0px;">


            	<div class="alert alert-warning">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<h4 style="margin-bottom:5px;">If you didnt notice!</h4> <p style="margin-bottom:1px;">This page shows all reports of your interest. From reports that you have created to reports you are following, they are all displayed in your "My reports" tab on the left, containing the report title, category, date and users following it. </p>
						<p style="margin-bottom:1px;"> Also, reports you are following are listed with a smooth green background. </p>
						<p style="margin-bottom:1px;"> Last, but not least, when you create a new report, it will only be visible for everyone after you publish it. Find more info <a href="http://kreation.dec.uc.pt/projects/sperobox/" target="_blank">here.</a></p>
				</div>


            	<div class="span4" style="margin-left:0px;">
            		<div class="box" id="form-container">
            		
	            	</div>

	            	<div class="input-prepend" style="margin-bottom:5px;">
						      <a class="add-on" href="#">
						        <i class="icon-search"></i>
						      </a>
				      		<input type="text" id="quick-search-occ" placeholder="Quick search ...">
				    	</div>

					<div>
					    <div class="box-content scrollable" id="occurrence-box-list" style="max-height: 552px; overflow-y: auto">
					    	<div class="alert alert-block">
						  		<strong>No reports.</strong> You have no reports yet, start creating some.
							</div>
					
					    </div>
					</div>
				</div>

	            
	            <div class="span8">
                    <div class="box" id="map_toc_container">
                    	<div class="box-content" style="border:0">
                    	 	
          					<div class="tab-content" id="toc_map" style="height:500px;">
        						
                			</div>                       
                   		</div>
                	</div>

                	<div id="edit-box">

            		</div>
            	</div>

        </div>
	</div>
</div>
</div>
</script>

<script type="text/html" id="new-occurrence-form">
		
		

	    <div class="box-content" >
	    	<div class="row-fluid box-section"><h5>Create a new report</h5><small id="report_cat_hier"></small></div>
	    	<div class="row-fluid box-section" id="ocurrence-box">
	    		

	    		<div id="new_occurrence" style="width:100%">
	    			<div>
					<select class="chzn-select" name="category" style="width:100%" id="chzn_new_occurrence">
					</select>
					</div>

					<div id="reportbox_childs" style="margin-top:5px;">

					<ul class="nav nav-list" id="report_box_childs" style="padding-left:0px;padding-right:0px;">
											
					</ul>

					</div>
				</div>
				<input type="button" class="btn btn-blue" value="add new report" id="new_occurrence_btn" style="width:100%;margin-top:5px;" />
				<br />
	    	</div>	
	    </div>

</script>

<script type='text/html' id='occurrences_item'> 

	<div class="box-section news with-icons occ_class_search" onclick="window.location.href='#report/<%= id %>'" id="<%= domID %>" data-occ_id="<%= id %>" rel="<%= id %>" style="padding:5px 10px 10px 10px;min-height:25px;cursor:pointer; 

		<% if(is_owner == 0 && is_owner != undefined && permission == 0) { %>
			background-color:#E3FFE5;

		<% } else if(is_owner == 0 && is_owner != undefined && permission == 1) { %>
			background-color:#CAFACE;
		<% } %>

		">
		<a href="#report/<%= id %>" data-occ_id="<%= id %>" rel="tooltip" style="cursor:pointer" class="avatar <%= validated == 0 ? 'blue' : 'green' %>"><i class="icon-<%= validated == 0 ? 'pencil' : 'globe' %> icon-2x"></i></a>
	  	<div class="news-time">
	    	<span><%=vote_counter%></span>
	 	</div>
		<div class="news-content">
	    	<div class="news-title" style="font-size:14px;"><a href="#report/<%= id %>" rel="<%= id %>" data-occ_id="<%= id %>"><%= name %></a></div>
	    	<div class="news-text">
	      		 <%= category_name %> - <span class="timestamps"><%= created_at %></span>
	    	</div>
	  	</div>
	</div>
</script>

<script type="text/html" id="occurrence_editor">

<div class="inspector_placeholder"></div>

<div class="occurrence_operations">

    <div class="span6">
    	<div class="box-content" style="border:0">
    	 	<div class="row-fluid box-section"><div class="span1"><button class="btn btn-mini btn-gray" title="Hide details" id="close_btn"><i class="icon-resize-small"></i></button></div><div class="span8"><strong style="font-size:16px;" id="report-main-title"> <%= title %></strong></div> 
    	 	<div class="span3">
    	 		<% if(permission == 1){ %>
        	 		<a href="#" class="btn btn-blue btn-main-menu validate_occurrence span12" style="float:right;<%= validated == 1 ? 'display:none;' : '' %>"><i class="icon-globe"></i>  Publish
        	 		</a>
        	 		<a href="#" class="btn btn-default btn-main-menu unvalidate_occurrence span12" style="float:right;<%= validated == 1 ? '' : 'display:none;' %>"><i class="icon-globe"></i>  Unpublish
        	 		</a>

        	 		<br/>

        	 		<a class="btn btn-red delete_occurrence span12"  style="margin-right:0px;float:right; margin-top:5px;" title="Delete report">
						<i class="icon-trash"></i> Delete
					</a>
        	 	<% } %>
        	 </div>

    	 	</div>
				<div class="tab-content padded"  style="height:auto;">
					<% if(permission == 1){ %>
						<div id="shapes-operations" style="margin-bottom:10px;">
						<a id="show-shape-btn" class="button btn btn-default btn-mini" style="margin-top:5px;" title="Show Shapes" >
										<i class="icon-search"></i> Show Shapes
									</a>
							<a id="delete-shape-btn" class="button btn btn-default btn-mini edit_shapes" style="margin-top:5px;display:none;" title="Delete Shapes" >
										<i class="icon-remove"></i> Delete Shapes
									</a>
									<a id="save-shape-btn" class="button btn btn-default btn-mini edit_shapes" style="margin-top:5px;display:none;" title="Save Shapes" >
										<i class="icon-pencil"></i> Save Shapes
									</a>
						</div>
					<% } %>
					<% if(validated == 0) { %>
						<div class="alert alert-block publish_notice" style="margin-top:10px;">
						  <strong>Unpublished!</strong> Only you and this report followers can see this report. Publish it so everyone can see it.
						</div>
					<% } %>

					<div class="modal_div_report">

					</div>

					<div class="box closable-chat-box">
						<div class="box-content padded">

						    <div class="fields" style="width:100%">
		
					    		<ul style="width:70%;margin-left:0px;">
					    			<li>Created by <b><a href="#user/<%= user_id %>"><%= user_name %></a> </b></li>
					        		<li class="note">on <%= date %></li>
					      		</ul>
					      		<div class="followers" style="text-align:right;pull-right">
						  			<ul class="inline pull-right sparkline-box" style="margin-top:0px;margin-left:0px;">
							          <li class="sparkline-row" style="padding-right:0px;">
							            <a href="#" class="modal_follow"><h4><%= followers %> <span>Affected</span></h4></a>
							          </li>
							        </ul>
						  		</div>

						    </div>
						</div>
					</div>

					<div class="tab-content"  style="height:auto;" id="occ_related_photos">
						<% if(total_photos == 0) { %>
							<div class="alert alert-block">
							  <strong>No photos.</strong> This report has no photos, upload some.
							</div>
						<% } %>

						<div>
							<ul class="thumbnails" id="occ-photos" style="margin-top:0px;">

							</ul>
						</div>

					</div>

					<% if(permission == 1){ %>
						
						<div class="default_operations">
							
							<a class="button btn btn-default btn-mini edit_details" style="margin-top:5px;" title="Edit details">
								<i class="icon-pencil"></i> Edit details
							</a>

							<a class="button btn btn-default btn-mini add_video" style="margin-top:5px;" title="Add video">
								<i class="icon-plus"></i> Add Video
							</a>
							

						</div>

				        <div class="location_controls" style='display:none'>
					        <a class="button btn btn-blue btn-mini confirm_location "  style="margin-top:5px;"
								<i class="icon-ok-sign"></i> Save changes
							</a>
				        	<a class="button btn btn-red btn-mini cancel_location"  style="margin-top:5px;">
								<i class="icon-remove-circle"></i> Cancel
							</a>
			       		</div>

			        <% } %>

			        <hr>

			        <% if(permission == 1) { %>

			        <div style="display:none;" id="form-edit-video">
						<form class="fill-up" id="report-add-video" style="margin-bottom:10px;">
							{% csrf_token %}

							<ul class="separate-sections" id="form-occurrence-video">
								<li class="input" style="margin-bottom:10px;">
									<input id="input_video_url_form" placeholder="Insert video url" name="video_url" type="text" value="" />
								</li>
							</ul>
							

							<div class="form-actions" style="margin-top:0px;">
					            <button type="submit" class="btn btn-blue submit_video">Insert</button>
					            <button type="button" class="btn btn-default cancel_submit_video">Cancel</button>
					         </div>
						</form>
					</div>


					<div style="display:none;" id="form-edit-div">
						<label> Photos </label>
						<form action="#" class="dropzone" id="report-upload-dropzone" style="margin-bottom:10px;">{% csrf_token %}</form>

						<form class="fill-up">
							<ul class="separate-sections" id="selected-occurrence-form">

							</ul>

							<div class="form-actions">
					            <button type="submit" class="btn btn-blue confirm_occurrence">Save changes</button>
					            <button type="button" class="btn btn-default cancel_occurrence_changes">Cancel</button>
					         </div>
						</form>
					</div>

					<% } %>

					<div id="selected-occurrence-content">

					</div>

				</div>
			</div>                       
   		</div>
	</div>

	<div class="span6">
	    <div class="row-fluid" style="margin-bottom:20px;">
	    	<div class="row-fluid box-section" style="margin-bottom:10px;">
				<div class="span8"><strong style="font-size:16px;">Activity</strong></div>
			</div>
  			<ul class="chat-box timeline" id="report-feed-container">
  				<div class="alert alert-warning">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>No activity.</strong> This report has no activity.
			    </div>
    		</ul>
  		</div>

  		<div class="row-fluid" style="margin-bottom:20px;">
	    	<div class="row-fluid box-section" style="margin-bottom:10px;">
				<div class="span8"><strong style="font-size:16px;">Videos</strong></div>
			</div>
  			
    		<div class="video_list_container">
    			<ul class="thumbnails" id="occ-videos" style="margin-top:0px;">
					
				</ul>

				<div class="video_player_yt">
    				<iframe id="ytplayer" type="text/html" width="440" height="300" src="" frameborder="0">
    			</div>
    		</div>
  		</div>
	</div>
</div>

</script>



<script type="text/html" id="report_feed">
	
	<li class="gray" style="margin-bottom:5px;">
	    <div class="info">
	      <span class="name">
	        <!--<span class="label label-blue">TASK</span> -->
	        <a href="#user/<%= feed.user_id%>"><strong class="indent"><%= feed.username %></strong></a> <%= feedMessage[feed.type] %> this report.
	      </span>
	      <span class="time"><i class="icon-time"></i> <%= feed.time %> </span>
	    </div>
	    </li>
</script>


<script type="text/html" id="video_container">
	video
</script>


<script type="text/html" id="modal_follow">

	<div id="followers_modal" class="modal hide" style="display: none;z-index:20000 ">  
		<div class="modal-header">  
			<a class="close" data-dismiss="modal">×</a>  
			<h5>Affected by this report</h5>  
		</div>  
						
		<div class="modal-body">  
			
			<div id="modal_followers_content">

				<p style="margin-bottom:5px;"> You can follow a person, or allow others to edit this report. </p>
				<% for(f in followers) { %>
					<div class="box-section news" style="min-height:65px">
					 	<div class="avatar"><img class="avatar-small" style="-webkit-border-radius:0%;-moz-border-radius:0%;-ms-border-radius:0%;-o-border-radius:0%;border-radius:0%;" src="http://placehold.it/100x100">
						</div>

				 		<div class="news-time">
				 			<% if(followers[f].id != hopeuser.get('id')) { %>

				    		<a class="btn btn-small follow_modal_button btn-blue" rel="<%= followers[f].id %>" style="
					    		<% 
					    			var is_following = _.find(users_followed,function(id) {
					    				return followers[f].id == id;
					    			}); 	
								%> 
								<%= is_following > 0 ? 'display:none' : '' %>
							"> Follow</a>

							<a class="btn btn-small unfollow_modal_button btn-default" rel="<%= followers[f].id %>" style="
					    		<% 
					    			var is_following = _.find(users_followed,function(id) {
					    				return followers[f].id == id;
					    			}); 	
								%> 
								<%= is_following > 0 ? '' : 'display:none' %>
							"> Unfollow</a>

							<% } %>

							<% if(permission != 0){ %>

				    		<a class="btn btn-small allow btn-green allow-id-<%= followers[f].id %>" style="<%= followers[f].permission == 0 ? '' : 'display:none' %>" rel="<%= followers[f].id %>"> Allow edit</a>
				    		<a class="btn btn-small dontallow btn-red dontallow-id-<%= followers[f].id %>" style="<%= followers[f].permission == 1 ? '' : 'display:none' %>" rel="<%= followers[f].id %>"> Disallow edit</a>

				    		<% } %>


				  		</div>
				  
					  	<div class="news-content">
					    	<div class="news-title"><a href="#" onclick="return false;"><%= followers[f].username %></a></div>
				  		</div>
					</div>
				<% } %>



			</div>            
		</div>  

		<div class="modal-footer">  
			<a href="#" class="btn btn-default" data-dismiss="modal">Close</a>  
		</div>  
	</div>  

</script>

