<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<title>MapMoth</title>
	
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" /> 
	
	<link rel="stylesheet" href="{{ MEDIA_URL }}main/css/inuit.css" /> 
	<link rel="stylesheet" href="{{ MEDIA_URL }}main/css/mobile.css" />
	<script src="{{ MEDIA_URL }}main/js/libs/jquery-latest.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ MEDIA_URL }}main/js/libs/modernizr.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	{% block content %}{% endblock %}
</body>
</html>