<div class="sidebar-background" style="position: fixed;">
      <div class="primary-sidebar-background"></div>
    </div>

    <div class="primary-sidebar">

        <!-- Main nav -->
        <ul class="nav nav-collapse collapse nav-collapse-primary">
            
            <li class="active">
                <span class="glow"></span>
                <a href="/smartroads">
                    <i class="icon-dashboard icon-2x"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="dark-nav ">
                <span class="glow"></span>

                <a href="#">
                    <i class="icon-beaker icon-2x"></i>
                    <span>Matrix</span>
                </a>
            </li>

            <li class="">
              <span class="glow"></span>
              <a href="#">
                  <i class="icon-edit icon-2x"></i>
                  <span>Prime</span>
              </a>
            </li>

            <li class="">
              <span class="glow"></span>
              <a href="#">
                  <i class="icon-bar-chart icon-2x"></i>
                  <span>Manage</span>
              </a>
            </li>
        </ul>
    </div>
